@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

:root{
    --red: #af125a;
    --secondary-color: #E3DFFF;
    --primary-color: #0d1f2d;
    --dots-color : rgba(255,255,255,0.1);
    --lightBlue: #468c98;
    --lightGreen: #1cfeba;

    --angle-gradient: 15deg;

}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(0deg, var(--primary-color) 0%, var(--primary-color) 100%), radial-gradient(rgba(255,255,255,0) 8%, rgba(0, 0, 0, 1) 8%), repeating-linear-gradient(var(--angle-gradient), rgba(28, 254, 186, 1) 33%,   rgba(0, 64, 255, 1) 66%, rgba(28, 254, 186, 1) 100%);
    background-size:  100% 100%, 2vmin 2vmin, 100% 100vh;
    background-blend-mode: difference, multiply;
            
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    
    font-family: "Montserrat";
}


.full-container {
}

/* ------------------------------------------------------------------- */
/* ------------------------- GENERAL --------------------------------- */
/* ------------------------------------------------------------------- */

.important-text {
    font-family: "Montserrat";
    font-size: 1.2em;
    background-image:linear-gradient(45deg, #468c98 0%, #1cfeba 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}


/* ------------------------------------------------------------------- */ 
/* ------------------------- FIRST PART ------------------------------ */
/* ------------------------------------------------------------------- */

.main-content {
    box-sizing: border-box;
    display: block;
    padding-top: 30vh;
    padding-bottom: 20vh;
    min-height: 100vh;

}

/* name and profession */

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.main-name {
    color: var(--secondary-color);
    font-family: "Montserrat";
}

.main-profession {
    font-family: "Montserrat";
    background-image: linear-gradient(45deg, #468c98 0%, #1cfeba 100%);
    background-size: contain;
    border-radius: 8px;
    padding: 20px;
    color: #E3DFFF
}

/*----------------------*/

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.tab-select {
    width: 80%; 
    display: flex;
    flex-direction: row;
}

.shortcut-item {
    text-decoration: none;
    color : var(--secondary-color);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border: var(--secondary-color) solid;

    background-color: #0d1f2d;
}

.shortcut-item:hover {
    background-color: var(--secondary-color);
}

.shortcut-item:hover > .shortcut-text {
    color: var(--primary-color);
}

.tab-select > .shortcut-item:nth-child(2) {
    border-left: none;
    border-right: none;
}

.shortcut-text {
    font-family: "Montserrat";
    font-size: 100%;
}

.shortcut-icon {
    border: solid greenyellow;
}

/*----------------------*/

.title-section-pos {
    color: var(--primary-color);
}


/* ------------------------------------------------------------------- */

.about-me-section {
    position: relative;

    display: flex;
    flex-direction: column;
    padding: 40px;
    background-image: linear-gradient(45deg, #468c98 0%, #1cfeba 100%);
    color : var(--secondary-color);

}

.about-me-section > h2  {
    color: var(--secondary-color);
    text-align: center;
}

.about-me-title {
    width: 100%;
    color: #E3DFFF;
    display: flex;    
    font-size: 2em;
}

.about-me-text-container {
    width: 50%
}

.about-me-text-container > p {
    font-family: "Montserrat";
    font-size: 1.2em;
    color: #E3DFFF;
}

/*----------------------*/

.resume-section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%; 
}

.resume-button {
    height: 100%;
    width: 50%;
    background-color: transparent;
    border: solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: "Montserrat";
    font-size: 1.5em;
    border-radius: 8px;
}

.resume-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.resume-section > h2 {
    color: var(--secondary-color);
    text-align: center;
}
/*----------------------*/

.skills-section {
    display: flex;
    flex-direction: column;
    padding: 20px;  

    background-image: linear-gradient(45deg, #468c98 0%, #1cfeba 100%);
}

.skills-title {

    width: 100%;
    color: #E3DFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}

.skills-icons-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.skill-icon {
    height: 100px;
    width: 100px;

    margin: 10px;
}




/*----------------------*/


.section-container-pos {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #468c98 0%, #1cfeba 100%);
}


.section-container-neg {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.intro {
    padding-left:10%;
    padding-right:10%;
}
.desc {
    font-family: "Montserrat";
    font-size: 1.5em;
    color: var(--secondary-color);
    text-align: center;
}

.section-title {
    font-family: "Montserrat";
    font-size: 2em;
    color: var(--primary-color);
    text-align: center;
    margin-top: 40vh;
}

.projects-section-title {
    font-family: "Montserrat";
    font-size: 2em;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 10vh;   
}
.projects-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vh;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: "Montserrat";
    font-size: 1.5em;

    border: #E3DFFF solid ;
    margin: 10px;

    cursor: pointer;

    text-align: center;
}

.project-link:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.project-container {

    display : flex; 
    flex-direction: column;
    
    margin-top: 2%;
    padding: 5%;
    width: 90%;

    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--primary-color);
}

.project-tech {
    color: var(--secondary-color);
    font-family: "Montserrat";
    font-size: 1em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 5px;
    border-radius: 8px;
}

.project-tech-stack {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 16/9;
}

.project-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-description {
    font-family: "Montserrat";
    font-size: 1.5em;
    color: var(--secondary-color);
    text-align: left;
    
}

.project-title {
    font-family: "Montserrat";
    font-size: 1.5em;
    color: var(--secondary-color);
    text-align: center;
}

.project-desc-container {

}

.project-desc {
    font-family: "Montserrat";
    font-size: 1em;
    color: var(--secondary-color);
    text-align: justify;
}

.see-more-github {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    color : var(--secondary-color);

    padding: 20px;

    gap: 10px;

    cursor: pointer;
}

.see-more-github:hover {
    text-decoration: underline;
}

.see-more-github > object {
    height: 50px;
    width: 50px;
}

.see-more-github > h2 {
    font-family: "Montserrat";
    font-size: 1.5em;
    color: var(--secondary-color);
    text-align: center;
}


.label-item {
    font-family: "Montserrat";
    background-color: var(--lightBlue);
    background-size: contain;
    border-radius: 8px;
    padding: 7px;
    margin-left: 10px;
    color: #E3DFFF;
}

.label-container {
    display: flex;
    flex-direction: row;
}

.github-icon {
    height: 50px;
    width: 50px;
}

.hidden-ref {
    text-decoration: none;
}

/*------------------------------------------------*/
/*This part is used to create an explosive effect */ 
.explosive::after{
    transition: opacity 2s ease;
}

.explosive:hover > .letter:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}
  
.explosive:hover > .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}
  
.explosive:hover > .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}
  
.explosive:hover > .letter:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}
  
.explosive:hover > .letter:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}
  
.explosive:hover > .letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}
  
.explosive:hover > .letter:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}
  
.explosive:hover > .letter:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}
  
.explosive:hover > .letter:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}
  
.explosive:hover > .letter:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}
  
.explosive:hover > .letter:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}
  
.explosive:hover > .letter:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
}
.explosive:hover > .letter:nth-child(13) {
    transform: translate(-80%, 60%) rotate(8deg);
}
  
.explosive:hover > .letter:nth-child(14) {
    transform: translate(-40%, 20%) rotate(4deg);
}
  
.explosive:hover > .letter:nth-child(15) {
    transform: translate(-10%, 60%) rotate(-6deg);
}
  
.explosive:hover > .letter:nth-child(16) {
    transform: translate(0%, 8%) rotate(-8deg);
}
  
.explosive:hover > .letter:nth-child(17) {
    transform: translate(0%, -20%) rotate(5deg);
}
  
.explosive:hover > .letter:nth-child(18) {
    transform: translate(0%, 20%) rotate(-3deg);
}
  
.explosive:hover > .letter:nth-child(19) {
    transform: translate(0%, -40%) rotate(-5deg);
}
  
.letter {
    display: inline-block;
    transition: transform 500ms ease
}

.letter-start {
    margin-left: 2px;
}


/*------------------------------------------------*/


.toggle-theme {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 6vw;
    height: 5vh;
    background-color: var(--secondary-color);
    border-radius: 16px;
}

.checkbox {
    height: 6vh;
    width: 5vw;
    z-index: 8;
    opacity: 0;
}

.ball {
    position: absolute;
    height: 4vh;
    width: 4vh;
    background-color: var(--primary-color);
    border-radius: 100%;
    top: 10%;
    left: 5%;  
    pointer-events: none;
    transition: transform 0.5s ease;
}

.checkbox:checked + .label .ball {
    transform: translateX(200%);
}


.footer {
    background-color: #0d1f2d;

    display: flex;
    flex-direction: row; 

    justify-content: center;
    align-items: center;
    gap: 10%;
}

.footer > p {
    color: var(--secondary-color);
    font-family: "Montserrat";
}

/*-----------------------------*/

.contact-me-container {
    position: relative;

    display: flex;
    flex-direction: row;
    padding: 20px;
    background-image: linear-gradient(45deg, #468c98 0%, #1cfeba 100%);

}
.contact-me-logo-container {
    width: 70%;
    height: 100%;
    font-size: 2vw;    
    box-sizing: border-box;
    padding-left: 10%;
    align-items: center;
    justify-content: center;
}

.contact-me-logo {
    color: var(--secondary-color);
}

.contact-me-infos {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;

}



.contact-me-infos > a, .contact-me-infos > p {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: "Montserrat";
    font-size: 1.2em;
}

/*-----------------------------*/

.soft-skills-section {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 10px;
}

.soft-skills-section > h2 {
    color: var(--secondary-color);
    font-family: "Montserrat";
    font-size: 2em;
    text-align: center;
}

.soft-skills-list {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 3vw;
}

.soft-skill-container {
    height: 80%;
    width: 20%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    background-color: var(--primary-color);

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.soft-skill-container > h3 {
    color: var(--secondary-color);
    font-family: "Montserrat";
    font-size: 1.5em;
}

.soft-skill-container > p {
    color: var(--secondary-color);
    font-family: "Montserrat";
    font-size: 1.2em;

    text-align: center;
    justify-content: center;
}

.soft-skill-container > object {
    width: 50%;
    height: 50%;
}

/* ------------------------------------------------------------------- */
@media (max-width: 600px) {
    body {
        background-size:  100% 100%, 3vmin 3vmin, 100% 100vh;
    }
    .main-content {
        padding-top: 5vh;
    }
    .main-container {
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }

    .tab-select {
        flex-direction: column;
        align-items: center;
    }
    .nav-container {
        margin-top: 5vh;
    }


    .tab-select > .shortcut-item:nth-child(2) {
        border-top: none;
        border-bottom: none;
        border-left: solid;
        border-right: solid;
    }

    .projects-list-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .skills-icons-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-me-container {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .contact-me-logo-container {
        padding: 2px;
        font-size: 3vw;
        text-align: center;
    }

    .contact-me-infos {
        gap: 5px;
    }


    .soft-skill-container {
        width: 80%;
        height: 30%;
    }

    .soft-skills-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .soft-skills-section {
        height: 100%;
    }
    
}

